<div class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true"
    id="confirmation-modal">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-2 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-pulse-bluegrey-700 px-4 py-3 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-white" id="confirmation-modal-title">
                </h3>
            </div>
            <div class="bg-white px-4 py-5 sm:p-6">
                <div class="sm:flex sm:items-start">
                    <div class="mt-1 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <div class="mt-2">
                            <p class="text-base sm:text-lg text-pulse-bluegrey-800" id="confirmation-modal-message">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-pulse-bluegrey-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-pulse-blue-500 text-base font-medium text-white hover:bg-pulse-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                    id="confirmation-yes-button">
                    OK
                </button>
                <button type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
                    id="confirmation-no-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>