{{!-- DASHBOARDS HEADERS (BOTH USER AND ADMIN POTENTIALLY) --}}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Edit Profile</a> {{!-- TODO: route to edit profile --}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Log out</a> {{!-- route back to home page --}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

{{!-- {{> dashboard-header}} 
USE TO ADD HEADER IN OTHER HANDLEBAR FILES -->