<!-- Footer -->
<footer class="bg-gray-900 text-white w-full py-4 px-6">
    <div class="bg-gray-900 mx-auto flex flex-col md:flex-row justify-between items-center">
        {{#if isDashboard}}
        <div class="md:text-left">
            <a href="/privacy-policy" class="text-sm">Privacy Policy</a>
        </div>
        <div class="md:text-right">
            <p class="text-sm">&copy; 2023 Group 2</p>
        </div>
        {{else}}
        <div class="md:text-left">
            <a href="/privacy-policy" class="text-sm">Privacy Policy</a>
        </div>
        <div class="md:text-right">
            <p class="text-sm">&copy; 2023 René, Daniel, Natalie, David</p>
        </div>
        {{/if}}
    </div>
</footer>