<!-- login & signup on the same page - matching the lucid chart 
WIP -->

<!-- Header -->
{{> dashboard-header}} 

<!-- Admin log-in -->
 <div class="text-center">
  <a href="/admin-login" class="btn btn-primary">Administrator Login</a> <!-- TODO: link admin-login (Rene's link?)-->
</div>

<!-- Login Forms -->
{{> login}}


<!-- Sign up Form-->
{{> signup}}

<!-- Footer -->
{{> footer}} 

