<section>
    <!-- Modal choosing file to insert link of -->
    <div id="insert-image-link-modal" class="modal z-10">
        <div class="modal-content w-full md:max-w-screen-md rounded-md shadow-lg">
            <div class="text-center">
                <h3 class="text-2xl font-bold text-pulse-blue-500">Insert Image Link</h3>
                <!-- Select existing image -->
            </div>
            <div class="flex flex-col space-y-2 sm:flex-row sm:space-x-2 ">
                <div class="flex flex-col space-y-4">
                    <label for="modal-image-select" class="mr-2">Select an image:</label>
                    <select id="modal-image-select"
                        class="border-gray-300 border rounded  px-2 py-0 text-pulse-grey-dark ">
                        <!-- Add list of images here -->
                    </select>
                    <div>
                        <button class=" rounded bg-pulse-green-500 hover:bg-pulse-green-700 px-3 py-1 text-white"
                            id="upload-new-image">Upload New Image...</button>
                    </div>
                    <div>
                        <label for="modal-class-select" class="mr-2">Select a CSS class:</label>
                        <select id="modal-class-select"
                            class="border-gray-300 border rounded text-pulse-grey-dark  px-2 py-0">
                            <!-- list of CSS classes used to style the image in the factsheet (factsheet.css) -->
                            <option class="py-1 my-0" value="img-small-width-centred" data-defaultwidth="420">
                                img-small-width-centred
                            </option>
                            <option class="py-1 my-0" value="img-reduced-width-centred" data-defaultwidth="720">
                                img-reduced-width-centred</option>
                            <option class="py-1 my-0" value="img-full-width-centred" data-defaultwidth="1200">
                                img-full-width-centred
                            </option>
                            <option class="py-1 my-0" value="img-small-width" data-defaultwidth="420">
                                img-small-width-centred</option>
                            <option class="py-1 my-0" value="img-reduced-width" data-defaultwidth="720">
                                img-reduced-width-centred
                            </option>
                            <option class="py-1 my-0" value="img-full-width" data-defaultwidth="1200">
                                img-full-width-centred</option>
                        </select>
                    </div>
                    <div>
                        <button class="rounded bg-pulse-green-500 hover:bg-pulse-green-700 px-3 py-1 text-white"
                            id="insert-image-link">Insert Link</button>
                        <button class="rounded bg-red-500 hover:bg-red-700 px-3 py-1 text-white"
                            id="cancel-insert-image-link">Cancel</button>
                    </div>
                </div>
                <div>
                    <!-- img to display selected image -->
                    <img class="hidden border-2 rounded border-pulse-grey-dark" id="modal-selected-image" src=""
                        alt="image preview" width="300">
                </div>

            </div>
        </div>
    </div>


</section>
<section>
    <!-- Modal for adding uploading file -->
    <div id="upload-image-modal" class="modal z-50">
        <div class="modal-content bg-white  w-full sm:max-w-screen-sm rounded-md shadow-lg">
            <div class="text-center">
                <h3 class="text-2xl font-bold text-pulse-blue-500">Select Image to Upload</h3>
            </div>

            <div class="flex flex-col space-y-2">

                <div class="inline-block">
                    <input type="file" class="hidden" id="file-upload" name="uploaded_file" accept="image/*">
                    <label for="file-upload" id="file-upload-label"
                        class="cursor-pointer bg-pulse-blue-500 hover:bg-pulse-blue-700 text-white font-bold py-2 px-4 rounded">
                        Select image...
                    </label>
                    <span id="upload-file-name" class="ml-4">No image file selected</span>
                </div>
                <div>
                    <label for="image-title">Image Title:</label>
                    <input type="text" id="image-title" class="border-gray-300 border rounded px-2 py-0 w-full"><br />
                </div>
                <div>
                    <label for="image-description">Image Description:</label>
                    <input type="text" id="image-description"
                        class="border-gray-300 border rounded px-2 py-0 w-full"><br />
                </div>
                <div>
                    <button id="upload-file"
                        class="rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white">Upload</button>
                    <button id="upload-cancel"
                        class="rounded bg-red-500 hover:bg-red-700 px-3 py-1 text-white">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <!-- Modal for inserting a hyperlink into markdown -->
    <div id="insert-url-modal" class="modal z-10">
        <div class="modal-content w-full sm:max-w-screen-sm rounded-md shadow-lg">
            <div class="text-center">
                <h3 class="text-2xl font-bold text-pulse-blue-500">Insert URL</h3>
            </div>
            <div class="flex flex-col space-y-2 ">

                <div>
                    <label for="url-title">URL Title:</label>
                    <input type="text" id="url-title" class="border-gray-300 border rounded px-2 py-0 w-full"><br />
                </div>
                <div>
                    <label for="url-hyperlink">URL:</label>
                    <input type="text" id="url-hyperlink" class="border-gray-300 border rounded px-2 py-0 w-full"><br />
                </div>
                <div>
                    <button class="rounded bg-pulse-green-500 hover:bg-pulse-green-700 px-3 py-1 text-white"
                        id="insert-url">Insert Link</button>
                    <button class="rounded bg-red-500 hover:bg-red-700 px-3 py-1 text-white"
                        id="cancel-insert-url">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</section>