<div class="px-2  sm:px-0 mb-2 bg-white">
    <section class="flex flex-col flex-grow ">
        <!-- menu bar above the textarea -->
        <div class="flex flex-col sm:flex-row items-start sm:space-x-4 space-y-2 sm:space-y-0 px-2 py-1 mb-2 mt-0 rounded bg-pulse-green-200 max-h-screen"
            id="edit-menu">
            <div>
                <!-- preview button -->
                <button
                    class="btn-style text-pulse-green-800 hover:text-pulse-green-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="html">
                    <i class="text-xl fa-brands fa-html5" data-tag="html"></i>
                </button>
                <!-- hide preview button hidden -->
                <button
                    class="hidden btn-style text-pulse-green-800 hover:text-pulse-green-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="md">
                    <i class="text-xl fa-brands fa-markdown" data-tag="md"></i>
                </button>
            </div>
            <!-- Image and link section -->
            <div class="flex space-x-2">
                <button
                    class="btn-style  text-pulse-lt-blue-700 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="image">
                    <i class="text-xl fa-solid fa-image" data-tag="image"></i>
                </button>
                <button
                    class="btn-style  text-pulse-lt-blue-700 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="link">
                    <i class="text-xl fa-solid fa-link" data-tag="link"></i>
                </button>

                <!-- Headers section -->
                <button
                    class="btn-style text-pulse-blue-900 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="#">
                    <i class="text-xl fa-solid fa-h1" data-tag="#"></i>
                </button>
                <button
                    class="btn-style  text-pulse-blue-700 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="##">
                    <i class="text-xl fa-solid fa-h2" data-tag="##"></i>
                </button>
                <button
                    class="btn-style  text-pulse-blue-500 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="###">
                    <i class="text-xl fa-solid fa-h3" data-tag="###"></i>
                </button>
                <button
                    class="btn-style  text-pulse-blue-500 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="####">
                    <i class="text-xl fa-solid fa-h4" data-tag="####"></i>
                </button>
            </div>

            <!-- Text style section -->
            <div class="flex space-x-2">
                <button
                    class="btn-style  text-pulse-blue-800 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="**">
                    <i class="text-xl fa-solid fa-bold" data-tag="**"></i>
                </button>
                <button
                    class="btn-style  text-pulse-blue-800 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="*">
                    <i class="text-xl fa-solid fa-italic" data-tag="*"></i>
                </button>
                <button
                    class="btn-style  text-pulse-blue-800 hover:text-pulse-lt-blue-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="***">
                    <div class="flex">
                        <i class="text-xl fa-solid fa-bold" data-tag="***"></i><i class="text-xl fa-solid fa-italic"
                            data-tag="***"></i>
                    </div>
                </button>
                <button
                    class="btn-style  text-pulse-grey-dark hover:text-pulse-grey relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="~~">
                    <i class="text-xl fa-solid fa-strikethrough" data-tag="~~"></i>
                </button>
                <button
                    class="btn-style  text-pulse-green-800 hover:text-pulse-green-600 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    data-tag="---">
                    <i class="text-xl fa-solid fa-minus" data-tag="---"></i>
                </button>
            </div>
            <div>
                <div class="flex">
                    <button id="template-save"
                        class="btn-style text-pulse-green-500 hover:text-pulse-green-400 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        data-tag="save">
                        <div class="flex items-center space-x-1">
                            <i class="fa-regular fa-floppy-disk text-xl" data-tag="save"></i>
                            <p>save</p>
                        </div>
                    </button>
                    <button id="template-cancel"
                        class="btn-style text-red-500 hover:text-red-300 relative border border-pulse-blue-700 bg-pulse-grey-slightlyblue rounded shadow-sm py-0 px-2 text-sm hover:bg-pulse-lt-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        data-tag="cancel">
                        <div class="flex items-center space-x-1">
                            <i class="fa-solid fa-ban text-xl" data-tag="close"></i>
                            <p>cancel</p>
                        </div>
                    </button>
                </div>
            </div>

        </div>
        <div class="flex">
            <textarea
                class="border border-pulse-green-600 outline-none focus:ring-2 focus:ring-pulse-green-500 bg-white p-2 rounded-md w-full  max-h-[80vh] overflow-auto"
                id="template-text" rows="40" wrap="soft" cols="100" resize="none"></textarea>
        </div>
    </section>
    <div class="hidden border border-pulse-blue-700 bg-white px-5 py-2 m-1 rounded-md w-full" id="preview-html">
        <!-- Preview HTML -->
    </div>
</div>