{{! This will display the search controls to find a template to edit
Inputs: array of template categories, array of templates, administrator_id
Outputs: none
If a user selects a template, the template will be displayed in the editor by calling the appropriate route
}}
<div class=" flex flex-col space-y-1 w-full mx-aut justify-between">
    <div>
        <div class="flex items-center mb-2 mt-0">
            <label for="search-category"
                class="w-48 text-left mr-2 mt-0 mb-0 text-base text-pulse-bluegrey-600">Category:</label>
            <select id="search-category"
                class="border-pulse-bluegrey-300 border-2 rounded text-pulse-bluegrey-900 px-2 py-1 w-full mt-0 mb-0 ">
                <option class="py-1 my-0" value="0">All categories</option>
                {{#each categories as |category|}}
                <option class="py-1 my-0" value="{{category.id}}">{{category.title}}</option>
                {{/each}}
            </select>
            <button
                class="w-auto bg-pulse-bluegrey-600 hover:bg-pulse-bluegrey-900 text-sm text-white rounded px-2 py-1 ml-2 mt-0 mb-0"
                id="category-admin">Admin</button>
        </div>
        <div class="flex items-center mb-2 mt-0">
            <label for="search-title-text"
                class="text-base text-pulse-bluegrey-600 w-48 text-left mr-2 mt-0 mb-0">Search
                title:</label>
            <input type="text" id="search-title-text"
                class="border-pulse-bluegrey-300 border-2 rounded px-2 py-1 w-full mt-0 mb-0" />
        </div>
        <div class="flex items-center mb-2 mt-0">
            <label for="search-markdown-text"
                class="text-base text-pulse-bluegrey-600 w-48 text-left mr-2 mt-0 mb-0">Search
                content:</label>
            <input type="text" id="search-markdown-text"
                class="border-pulse-bluegrey-300 border-2 rounded px-2 py-1 w-full mt-0 mb-0" />
        </div>
        <div class="flex justify-between  mb-2 mt-0">
            <p class="text-base font-bold text-pulse-bluegrey-600 pt-3  mt-0 mb-0">Templates found:</p>
            <button class="w-auto bg-pulse-blue-500 hover:bg-pulse-blue-700 text-white rounded px-3 py-1 mt-0 mb-0"
                id="search-button">Search</button>
        </div>
    </div>

    <div class="max-h-96 overflow-y-auto p-0 bg-white " id="template-search-results">
        <ul aria-label="Search results" id="template-list" class="my-1 ml-1 mr-3">
            {{>template-list templates=templates }}
        </ul>
    </div>

    <div class="flex flex-row justify-between align-bottom text-base">
        <div class="flex space-x-2 py-2">
            <button class="w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white"
                id="new-template">New...</button>
            <button class="w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white"
                id="view-template">View...</button>
            <button class="w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white"
                id="edit-template">Edit...</button>
        </div>
        <div class="flex space-x-2 justify-end py-2">
            <button class="w-auto rounded bg-red-500 hover:bg-red-700 3 px-3 py-1 text-white"
                id="delete-template">Delete</button>
        </div>
    </div>
</div>

{{>modal-view-html}}
<script src="/assets/js/template-select.js"></script>