<li data-id="{{id}}" class="template-list-item border-1 rounded-full bg-pulse-lt-blue-100
     border-pulse-blue-300  text-pulse-blue-700 cursor-pointer
      py-1 px-4 mb-1">
    {{title}} <span class="text-sm italic">({{category.title}})</span>
</li>