<li data-id="{{id}}"
  class="template-list-item border-1 mb-1 mr-2 cursor-pointer rounded border-pulse-blue-300 bg-pulse-lt-blue-100 px-2 py-1 text-pulse-blue-700">
  {{title}}
  <span class="text-sm italic">({{category.title}})</span>
</li>