<div class="hidden" id="register-user-section">
  <label class="text-base text-pulse-bluegrey-600">
    First Name:
    <input id="firstname" type="text" class="w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1" />
  </label>
  <label class="text-base text-pulse-bluegrey-600">
    Last Name:
    <input id="lastname" type="text" class="w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1" />
  </label>
  <label class="text-base text-pulse-bluegrey-600">
    Date of Birth:
    <input id="dob" type="date" class="w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1" />
  </label>
  <label class="text-base text-pulse-bluegrey-600">
    Email:
    <input id="email" type="email" class="w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1" />
  </label>
  <label class="text-base text-pulse-bluegrey-600">
    Mobile Phone:
    <input id="mobile-num" type="tel" class="w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1" />
  </label>
  <label class="text-base text-pulse-bluegrey-600">
    CRM ID:
    <input id ="crm" type="text" class="w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1" />
  </label>
  <div class="text-base text-pulse-bluegrey-600">
    Auth Code:
    <div id="authcode" type="text" class="h-8 w-full rounded border-2 border-pulse-bluegrey-300 px-2 py-1"></div>
  </div>
  <div class="my-2 flex justify-between space-x-2">
    <button id="enrol" type="button" class="w-1/4 rounded bg-pulse-green-400 px-2 py-1 text-white">Register</button>
    <button class="w-1/4 rounded bg-red-500 px-2 py-1 text-white" onclick="toggleRegister()">Cancel</button>
  </div>
</div>

<script src="/assets/js/user-register.js"></script>
