<div class="">
  <div class="">
    <div class="">
      <div class="">
        <div class="">
          <h6 class="">Comment {{date_format createdAt}} {{time_format createdAt}}</h6>
        </div>
      </div>
    </div>
    <div class="">
      <p class="">{{content}}.</p>
    </div>
  </div>
</div>