<div class="">
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <h6 class="">Comment {{createdAt}}</h6>
                </div>
            </div>
        </div>
        <div class="">
            <p class="">{{content}}.</p>
        </div>
    </div>
</div>