<!-- add-comment -->

<div>
    <h2 class="text-base text-pulse-lt-blue-500 font-bold mb-0">Add Comment</h2>
    <div class="space-y-4">
        <form id="comment-form" class="p-4 bg-white shadow-lg rounded border-2 border-pulse-green-300">
            <div>
                <label for="comment-text" class="block text-sm font-medium text-gray-700">Comment:</label>
                <textarea id="comment-text" name="comment-text" rows="3"
                    class="mt-1 focus:ring-pulse-blue-500 focus:border-pulse-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
            </div>
            <div class="flex justify-end mt-4">
                <button type="submit"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-pulse-lt-blue-500 hover:bg-pulse-lt-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pulse-blue-500">
                    Save Comment
                </button>
            </div>
        </form>
    </div>
</div>