<div data-id="{{id}}" class="user-factsheet-listitem rounded border-2 
  border-pulse-bluegrey-300 bg-white p-2 shadow-lg cursor-pointer  my-1">
  <h3 class="text-base font-bold text-pulse-blue-700 hover:text-pulse-blue-500 ">{{template.title}}</h3>

</div>