<div class="mx-auto mt-8">
    <div class="flex justify-center">
        <div class="w-full lg:w-1/2">
            <div class="bg-white shadow-lg rounded-lg">
                <div class="p-5">
                    <h2 class="text-2xl font-bold text-pulse-bluegrey-900">What InfoPulse is About</h2>
                    <p class="mb-4 text-pulse-bluegrey-900">
                        InfoPulse is a technology company dedicated to improving digital experiences for clients and
                        staff of health practices. Our team of
                        experienced professionals works tirelessly to create innovative solutions that meet the needs of
                        our customers. We believe in the power of technology to transform
                        lives, decrease costs and improve efficiencies.
                    </p>
                    <h2 class="text-2xl font-bold text-pulse-bluegrey-900">Our Mission</h2>
                    <p class="mb-4 text-pulse-bluegrey-900">
                        Our mission is to empower businesses and individuals through high-quality, reliable, and
                        innovative digital solutions. We are guided by our core values of integrity, excellence, and
                        customer satisfaction.
                    </p>
                    <h2 class="text-2xl font-bold text-pulse-bluegrey-900">Who We Are</h2>
                    <p class="mb-4 text-pulse-bluegrey-900">
                        We are a team of 4 developers who are passionate about web technology and its ability to solve
                        problems.
                        René Malingré, Natalie Campbell, David Nguyen and Daniel Stanton are all students at the
                        University of Adelaide Full Stack Web Development Bootcamp.</p>
                </div>

                <div class="bg-pulse-bluegrey-50 p-5 flex flex-row justify-between">
                    <small class="text-pulse-bluegrey-600">Interested in our services?
                        <a href="https://github.com/NatalieCampbellGit/InfoPulse" class="text-pulse-blue-500">Contact
                            us</a></small>
                    <small class="text-pulse-bluegrey-600">Back to Home?
                        <a href="/" class="text-pulse-blue-500" id="home-button">Home</a></small>
                </div>

            </div>
        </div>
    </div>
</div>