<!-- Error 404 Page -->
<div class="container text-center mt-2">
    <img src="./assets/images/404.png" alt="Nerdy Image" class="img-fluid mx-auto d-block" />
    <h1 class="mt-2">Error 404: Not Found!</h1>
    <p>Sorry, the page or information you were looking for could not be found.</p>
    <a href="" id="to-home" class="btn btn-primary mt-3">Go to Home Page</a>
</div>

<script src="./assets/js/error-404.js"></script>