<div id="editing-section" class="max-w-screen-xl mx-auto py-1">
    <div id="markdown-edit-options" data-factsheet-id="{{factsheet.id}}" data-administrator-id="{{administrator_id}}"
        data-return-path="{{returnPath}}">
    </div>
    {{>markdown-edit}}
</div>
{{!-- modal dialogs for image link insertion --}}
{{>markdown-edit-modals}}

<script src="/assets/js/markdown-edit.js"></script>
<script src="/assets/js/personalisation-edit.js"></script>