<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <a href="#" class="privacy-policy-link">Privacy Policy</a> <!-- PLACEHOLDER FOR LINK -->
  </div>
</footer>


<!-- {{> footer}}  
USE TO ADD FOOTER IN OTHER HANDLEBAR FILES -->