<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <a href="#" class="privacy-policy-link">Privacy Policy</a> <!-- TODO: PLACEHOLDER FOR LINK -->
  </div>
</footer>


<!-- {{> partials/footer}} 
USE TO ADD FOOTER IN OTHER HANDLEBAR FILES -->