{{!-- Homepage --}}

{{!-- Body --}}
<section>
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold text-center text-pulse-green-800 my-4">InfoPulse</h1>
    <h2 class="text-3xl font-bold text-center text-pulse-green-800 my-2">Your Personalised Health Information</h2>
    <div class="flex justify-center">
     <a href="/signup" class="bg-pulse-green-400 text-gray-800 text-lg py-4 px-8 rounded-lg shadow-lg">Sign Up with your Pass Code by clicking here</a>
    </div>
    <img src="/assets/images/landing-page-image.jpg" alt="Landing Page Image" class="w-full my-4 max-h-screen">
  </div>
</section>


