<section>
    <div class="container mx-auto">
        {{!-- <h1 class="text-4xl font-bold text-center text-gray-900 my-4">InfoPulse</h1> --}}
        <h2 class="text-3xl font-bold text-center text-pulse-lt-blue-800 my-2">Your Personalised Health Information</h2>
        {{#unless loggedIn}}
        <div class="flex justify-center">
            <a href="/signup" class="bg-pulse-bluegrey-300 text-gray-800 text-lg py-4 px-8 rounded-lg shadow-lg">Sign Up
                with your Pass Code by clicking here</a>
        </div>
        {{/unless}}
        <div class="w-full sm:max-w-screen-md mx-auto">
            <img src="/assets/images/landing-page-image.jpg" alt="Landing Page Image" class="w-full my-4 max-h-screen">
        </div>
    </div>
</section>