<div class="prose max-w-none mx-auto text-pulse-bluegrey-900 bg-pulse-bluegrey-50 p-4">
    <div class="p4 my-2">
        <h1 class="text-3xl font-bold mb-4">Privacy Policy for InfoPulse</h1>

        <h2 class="text-xl font-bold mt-4 mb-2">1. Introduction</h2>
        <p>InfoPulse is committed to respecting your privacy and protecting your personally identifiable information,
            being
            any information that is capable of identifying you as an individual person, as you use this website.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">2. Personal Information We Collect</h2>
        <p>We collect personal information directly from you for the purpose of providing the InfoPulse services,
            communicating with you, and personalizing our interaction with you. The personal information we collect may
            include your name, email address, and any personal health information you choose to provide.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">3. Use of Personal Information</h2>
        <p>We use the personal information we collect to provide the InfoPulse services, to manage our business, and to
            communicate with you efficiently.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">4. Sharing of Personal Information</h2>
        <p>We will not share your personal information with any third parties without your consent, except as necessary
            to
            provide you with the services offered by us or to comply with the law. We may sell, buy, merge or partner
            with
            other companies or businesses, and in such transactions, user information may be among the transferred
            assets.
        </p>

        <h2 class="text-xl font-bold mt-4 mb-2">5. Security</h2>
        <p>We take reasonable steps to protect your personal information from loss and misuse. Please keep in mind no
            internet transmission is 100% secure, and email sent to or from this site may not be secure.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">6. Cookies</h2>
        <p>We use cookies and similar technologies to personalize your experience on our site, tell us which parts of
            our
            websites people have visited, and provide us with data about the effectiveness of our ads.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">7. User Access and Control</h2>
        <p>If you would like to access, review, correct, update, suppress, delete, or otherwise limit our use of your
            personal information you have previously provided directly to us, you may contact us.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">8. Changes to the Privacy Policy</h2>
        <p>We may change this Privacy Policy from time to time. Any changes will be posted on this page with an updated
            revision date.</p>

        <h2 class="text-xl font-bold mt-4 mb-2">9. Contact</h2>
        <p>If you have any questions, comments, or concerns about this Privacy Policy, please contact us.</p>

    </div>
</div>