<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link href="../public/assets/css/styles.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <div class="max-w-screen-xl mx-auto">
    <div class="">
      <div class="">
        <div id="user-menu">
          <!-- User menu buttons -->
          <button type="button" class="btn btn-primary" id="view-templates">View Templates</button>
          <button type="button" class="btn btn-primary" id="edit-profile">Edit Profile</button>
          <!-- <button type="button" class="btn btn-primary" id="log-out">Log Out</button> -->
        </div>
      </div>
    </div>
    <div class="">
      {{!-- <h1 class="text-3xl font-bold text-pulse-blue-500 text-center mb-4 py-2">{{pagetitle}}</h1> --}}
    </div>

    <div class="flex items-center mb-2 mt-0">
      <label for="search-category" class="w-48 text-left mr-2 mt-0 mb-0 text-base text-pulse-lt-blue-500">Select
        category:</label>
      <select id="search-category" class="border-pulse-green-300 border-2 rounded  px-2 py-1 w-full mt-0 mb-0 ">
        <option value="0">All categories</option>
        {{#each categories as |category|}}
        <option value="{{category.id}}">{{category.title}}</option>
        {{/each}}
      </select>
    </div>
    <div class="flex items-center mb-2 mt-0">
      <label for="search-title-text" class="text-base text-pulse-lt-blue-500 w-48 text-left mr-2 mt-0 mb-0">Search
        title:</label>
      <input type="text" id="search-title-text"
        class="border-pulse-green-300 border-2 rounded px-2 py-1 w-full mt-0 mb-0" />
    </div>
    <div class="flex items-center mb-2 mt-0">
      <label for="search-markdown-text" class="text-base text-pulse-lt-blue-500 w-48 text-left mr-2 mt-0 mb-0">Search
        content:</label>
      <input type="text" id="search-markdown-text"
        class="border-pulse-green-300 border-2 rounded px-2 py-1 w-full mt-0 mb-0" />
    </div>
    <div class="flex justify-between  mb-2 mt-0">
      <p class="text-base font-bold text-pulse-lt-blue-500 pt-3  mt-0 mb-0">Templates found:</p>
      <button class="w-1/4 bg-pulse-green-500 hover:bg-pulse-green-700 text-white rounded px-3 py-1 mt-0 mb-0"
        id="search-button">Search</button>
    </div>

    <div class="h-72 overflow-auto py-2 pl-2 pr-4 bg-white" id="template-search-results">
      <ul aria-label="Search results" id="template-list">
        {{>template-list templates=templates }}
      </ul>
    </div>
    <div class="flex flex-row justify-between align-bottom">
      {{#unless selectOnly}}
      <div class="flex space-x-2 py-2">
        <button class="w-auto rounded bg-pulse-green-500 hover:bg-pulse-green-700 px-3 py-1 text-white"
          id="view-template">View</button>
        <!-- <button class="w-auto rounded bg-pulse-lt-blue-500 hover:bg-pulse-lt-blue-700 px-3 py-1 text-white"
          id="edit-template">Edit</button> -->
        <button class="w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white"
          id="new-template">New</button>
      </div>
      {{/unless}}
      {{#if selectOnly}}
      <div class="flex space-x-2 justify-start py-2">
        <button class="w-auto rounded bg-pulse-green-500 hover:bg-pulse-green-700 px-3 py-1 text-white"
          id="select-template">Select</button>
      </div>
      {{/if}}
      {{#unless selectOnly}}
      <!-- <div class="flex space-x-2 justify-end py-2">
        <button class="w-auto rounded bg-red-500 hover:bg-red-700 3 px-3 py-1 text-white"
          id="delete-template">Delete</button>
      </div> -->
      {{/unless}}
    </div>

    <script src="/assets/js/template-select.js"></script>

    <!-- display the factsheets that user has been given -->
    <div id="view-posts">
      <div class="mx-auto px-1 sm:px-2 bg-white">
        <h2 class="text-xl font-bold mb-2">Posts</h2>
        {{#each factsheets as |factsheet| }}
        <div>
          {{{template.html}}}
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Buttons section -->
    <div class="button-group">
      <button class="btn btn-primary mr-2" id="add-comment">Add Comment</button>
      <button class="btn btn-success mr-2" id="save-comment">Save Comment</button>
      <!-- <button class="btn btn-danger" id="log-out">Log Out</button> -->
    </div>
  </div>

  <script src="/assets/js/user-dashboard.js"></script>
</body>

</html>
