.template-img-full-width {
  width: 100%;
  height: auto;
}

.template-img-half-width {
  width: 50%;
  height: auto;
}

.template-img-quarter-width {
  width: 25%;
  height: auto;
}

.template-img-full-width-centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.template-img-half-width-centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.template-img-quarter-width-centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}
