/* for factsheet/template display */

/* small screens */
.img-full-width {
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 320px;
}

.img-reduced-width {
  width: 75%;
  height: auto;
  max-width: 900px;
  min-width: 300px;
}

.img-small-width {
  width: 50%;
  height: auto;
  max-width: 600px;
  min-width: 200px;
}

.img-full-width-centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  height: auto;
}

.img-reduced-width-centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  max-width: 900px;
  min-width: 300px;
}

.img-small-width-centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  max-width: 600px;
  min-width: 200px;
}

/* media query for medium and larger screens */
@media (min-width: 768px) {
  /* images within factsheet */
  .img-full-width {
    width: 100%;
    height: auto;
    max-width: 1200px;
    min-width: 320px;
  }

  .img-reduced-width {
    width: 60%;
    height: auto;
    max-width: 800px;
    min-width: 300px;
  }

  .img-small-width {
    width: 35%;
    height: auto;
    max-width: 500px;
    min-width: 200px;
  }

  .img-full-width-centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 1200px;
    min-width: 320px;
  }

  .img-reduced-width-centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    max-width: 800px;
    min-width: 300px;
  }

  .img-small-width-centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
    max-width: 500px;
    min-width: 200px;
  }
}
