:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quaternary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228 46 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quaternary);
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
